In [1]:
import pandas as pd
df = pd.read_pickle("PREPROCESSED_DATA.pkl")
df.head()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0

In [2]:
# check version
from pycaret.utils import version
version()

'3.3.2'

In [3]:
df.dtypes

id            int64
age           int64
sex          object
dataset      object
cp           object
trestbps    float64
chol        float64
fbs          object
restecg      object
thalch      float64
exang        object
oldpeak     float64
slope        object
num           int64
dtype: object

In [4]:
df = df.drop('id', axis=1)

In [5]:
# Force-convert all 'object' and 'category' columns to plain Python object type
for col in df.select_dtypes(include=['object', 'category']).columns:
    df[col] = df[col].astype(str)

In [6]:
from pycaret.classification import *

clf1 = setup(
    df,
    target='num',
    categorical_features=[
        'sex', 'dataset', 'cp', 'fbs',
        'restecg', 'exang', 'slope',
    ],
    session_id=123,
    log_experiment=False,
    experiment_name='heart_disease_prediction'
)

In [7]:
best_model = compare_models()